<div class="new-product-container">
  <h1 class="page-title">New Product</h1>

  <div class="form-container">
    <%= render "form", product: @product %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", products_path, class: "cancel-link button" %>
  </div>
</div>
